BIOVISION_APP_HOST=0.0.0.0
BIOVISION_APP_PORT=5001
BIOVISION_DEBUG=false

BIOVISION_DB_HOST=localhost
BIOVISION_DB_PORT=3307
BIOVISION_DB_USER=root
BIOVISION_DB_PASSWORD=troque-esta-senha
BIOVISION_DB_NAME=biovision_especie

BIOVISION_MODEL_PATH=models/modelo_01.keras
BIOVISION_CLASS_INDEX_PATH=backend/data/class_index_corrigido.json
